<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Logs</title>
        <style>
            table, th, td {
              border: 1px solid black;
            }
            table.center {
              margin-left: auto;
              margin-right: auto;
            }
            </style>
    </head>
    <body>
        <h1>1337 Shop - Previous Login Attempts</h1>
        <div id="table-container">
            <table>
                <tr>
                  <th>Time</th>
                  <th>Username</th>
                  <th>User-Agent</th>
                </tr>
                <tr>
                  <td>{{Time}}</td>
                  <td>{{Username}}</td>
                  <td>{{User-Agent}}</td>
                </tr>
              </table>
        </div>
    </body>
</html>
            